body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-container {
  text-align: center;
  padding: 2em;
  background: white;
  width: 25%;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 100px;
}

.app-name {
  font-size: 0.8em;
  color: #6c757d;
  margin-top: 0.75em;
  margin-bottom: 2.5em;
}

.form-input {
  display: block;
  width: 90%;
  height: 1.7em;
  padding: 0.5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  border-radius: 4px;
  border: 1px solid #ced4da;
}

.submit-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5em 1em;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #0056b3;
}

.register-section {
  margin-top: 1em;
}

.register-link {
  color: #007bff;
  text-decoration: none;
}

.register-link:hover {
  text-decoration: underline;
}

.info {
  color: red;
  margin-top: 0.75em;
}
